<a href="../../merek/toyota/avanza/" id="c-model-item-avanza" class="c-model-item c-layer-card">
  <div class="c-model-rating">
    3.8<i class="icon-star-1"></i>
  </div>
  <div class="c-model-img-container img-placeholder loaded" data-was-processed="true">
    <img data-src="../../images/merek/toyota/avanza.jpg" alt="Toyota Avanza" class="loaded" src="https://source.unsplash.com/f_SDCASisgs/400x300"
      data-was-processed="true">

  </div>
  <header class="c-model-name">Toyota Avanza</header>

  <main class="c-model-price">
    Rp190.95 - Rp221.1 Juta
  </main>
  <div class="c-model-attribute">
    <strong>Otomatis, Manual</strong>Transmisi
  </div>
  <div class="c-model-attribute">
    <strong>Bensin</strong>Bahan bakar
  </div>
  <div class="c-model-attribute no-border">
    <strong>1300 cc, 1500 cc</strong>Mesin
  </div>
  <div class="c-model-availability">
    Tersedia di <strong>5</strong> varian dan <strong>8</strong> warna
  </div>
  <button class="btn btn-primary btn-block c-model-view-more-button">
    Lihat Detail
  </button>
  <button class="btn btn-outline-primary btn-block c-model-inquire-now-button" onclick="event.preventDefault()"
    data-name="Toyota Avanza" data-price-min="190950000" data-price-range="">
    LIHAT PROMO
  </button>
</a>
<a href="../../merek/toyota/fortuner/" id="c-model-item-fortuner" class="c-model-item c-layer-card">
  <div class="c-model-rating">
    3.8<i class="icon-star-1"></i>
  </div>
  <div class="c-model-img-container img-placeholder loaded" data-was-processed="true">
    <img data-src="../../images/merek/toyota/fortuner.jpg" alt="Toyota Fortuner" class="loaded" src="https://source.unsplash.com/f_SDCASisgs/400x300"
      data-was-processed="true">

  </div>
  <header class="c-model-name">Toyota Fortuner</header>
  <main class="c-model-price">
    Rp467.3 - Rp659.4 Juta
  </main>
  <div class="c-model-attribute">
    <strong>Otomatis, Manual</strong>Transmisi
  </div>
  <div class="c-model-attribute">
    <strong>Diesel, Bensin</strong>Bahan bakar
  </div>
  <div class="c-model-attribute no-border">
    <strong>2400 cc, 2700 cc</strong>Mesin
  </div>
  <div class="c-model-availability">
    Tersedia di <strong>8</strong> varian dan <strong>6</strong> warna
  </div>
  <button class="btn btn-primary btn-block c-model-view-more-button">
    Lihat Detail
  </button>
  <button class="btn btn-outline-primary btn-block c-model-inquire-now-button" onclick="event.preventDefault()"
    data-name="Toyota Fortuner" data-price-min="467300000" data-price-range="">
    LIHAT PROMO
  </button>
</a>
<a href="../../merek/toyota/kijang-innova/" id="c-model-item-kijang-innova" class="c-model-item c-layer-card">
  <div class="c-model-rating">
    4.0<i class="icon-star-1"></i>
  </div>
  <div class="c-model-img-container img-placeholder loaded" data-was-processed="true">
    <img data-src="../../images/merek/toyota/kijang-innova.jpg" alt="Toyota Kijang Innova" class="loaded" src="https://source.unsplash.com/f_SDCASisgs/400x300"
      data-was-processed="true">

  </div>
  <header class="c-model-name">Toyota Kijang Innova</header>

  <main class="c-model-price">
    Rp302 - Rp407.5 Juta
  </main>
  <div class="c-model-attribute">
    <strong>Otomatis, Manual</strong>Transmisi
  </div>
  <div class="c-model-attribute">
    <strong>Diesel, Bensin</strong>Bahan bakar
  </div>
  <div class="c-model-attribute no-border">
    <strong>2000 cc, 2400 cc</strong>Mesin
  </div>
  <div class="c-model-availability">
    Tersedia di <strong>10</strong> varian dan <strong>5</strong> warna
  </div>
  <button class="btn btn-primary btn-block c-model-view-more-button">
    Lihat Detail
  </button>
  <button class="btn btn-outline-primary btn-block c-model-inquire-now-button" onclick="event.preventDefault()"
    data-name="Toyota Kijang Innova" data-price-min="302000000" data-price-range="">
    LIHAT PROMO
  </button>
</a>
<section id="c-promos-mobile-section" class="c-promos-card-section">
  <header>
    <h5>Penawaran Spesial</h5>
    <p>Cari tahu model apapun sekarang!</p>
  </header>
  <a href="https://www.carmudi.co.id/virtual-dealers/">
    <div class="c-promos-card-section__img-wrapper">
      <div class="c-promos-card-section__img-container">
        <img data-src="https://trenotomotif.com/images/half-gm-big-bg.jpg" alt="Promo">
      </div>
    </div>
    <button>Dapatkan Promo Sekarang!</button>
  </a>
</section>
<a href="../../merek/toyota/yaris/" id="c-model-item-yaris" class="c-model-item c-layer-card">
  <div class="c-model-rating">
    4.0<i class="icon-star-1"></i>
  </div>
  <div class="c-model-img-container img-placeholder loaded" data-was-processed="true">
    <img data-src="../../images/merek/toyota/yaris.jpg" alt="Toyota Yaris" class="loaded" src="https://source.unsplash.com/f_SDCASisgs/400x300"
      data-was-processed="true">

  </div>
  <header class="c-model-name">Toyota Yaris</header>
  <main class="c-model-price">
    Rp235.4 - Rp275.9 Juta
  </main>
  <div class="c-model-attribute">
    <strong>Otomatis, Manual</strong>Transmisi
  </div>
  <div class="c-model-attribute">
    <strong>Bensin</strong>Bahan bakar
  </div>
  <div class="c-model-attribute no-border">
    <strong>1300 cc, 1500 cc</strong>Mesin
  </div>
  <div class="c-model-availability">
    Tersedia di <strong>6</strong> varian dan <strong>5</strong> warna
  </div>
  <button class="btn btn-primary btn-block c-model-view-more-button">
    Lihat Detail
  </button>
  <button class="btn btn-outline-primary btn-block c-model-inquire-now-button" onclick="event.preventDefault()"
    data-name="Toyota Yaris" data-price-min="235400000" data-price-range="">
    LIHAT PROMO
  </button>
</a>
<a href="../../merek/toyota/agya/" id="c-model-item-agya" class="c-model-item c-layer-card">
  <div class="c-model-rating">
    3.8<i class="icon-star-1"></i>
  </div>
  <div class="c-model-img-container img-placeholder loaded" data-was-processed="true">
    <img data-src="../../images/merek/toyota/agya.jpg" alt="Toyota Agya" class="loaded" src="https://source.unsplash.com/f_SDCASisgs/400x300"
      data-was-processed="true">

  </div>
  <header class="c-model-name">Toyota Agya</header>
  <main class="c-model-price">
    Rp133.4 - Rp153.8 Juta
  </main>
  <div class="c-model-attribute">
    <strong>Otomatis, Manual</strong>Transmisi
  </div>
  <div class="c-model-attribute">
    <strong>Bensin</strong>Bahan bakar
  </div>
  <div class="c-model-attribute no-border">
    <strong>1000 cc, 1200 cc</strong>Mesin
  </div>
  <div class="c-model-availability">
    Tersedia di <strong>5</strong> varian dan <strong>6</strong> warna
  </div>
  <button class="btn btn-primary btn-block c-model-view-more-button">
    Lihat Detail
  </button>
  <button class="btn btn-outline-primary btn-block c-model-inquire-now-button" onclick="event.preventDefault()"
    data-name="Toyota Agya" data-price-min="133400000" data-price-range="">
    LIHAT PROMO
  </button>
</a>
<a href="../../merek/toyota/rush/" id="c-model-item-rush" class="c-model-item c-layer-card">
  <div class="c-model-rating">
    3.8<i class="icon-star-1"></i>
  </div>
  <div class="c-model-img-container img-placeholder loaded" data-was-processed="true">
    <img data-src="../../images/merek/toyota/rush.jpg" alt="Toyota Rush" class="loaded" src="https://source.unsplash.com/f_SDCASisgs/400x300"
      data-was-processed="true">

  </div>
  <header class="c-model-name">Toyota Rush</header>
  <main class="c-model-price">
    Rp239.9 - Rp261.3 Juta
  </main>
  <div class="c-model-attribute">
    <strong>Otomatis, Manual</strong>Transmisi
  </div>
  <div class="c-model-attribute">
    <strong>Bensin</strong>Bahan bakar
  </div>
  <div class="c-model-attribute no-border">
    <strong>1500 cc</strong>Mesin
  </div>
  <div class="c-model-availability">
    Tersedia di <strong>4</strong> varian dan <strong>6</strong> warna
  </div>
  <button class="btn btn-primary btn-block c-model-view-more-button">
    Lihat Detail
  </button>
  <button class="btn btn-outline-primary btn-block c-model-inquire-now-button" onclick="event.preventDefault()"
    data-name="Toyota Rush" data-price-min="239900000" data-price-range="">
    LIHAT PROMO
  </button>
</a>
<a href="../../merek/toyota/calya/" id="c-model-item-calya" class="c-model-item c-layer-card">
  <div class="c-model-rating">
    3.8<i class="icon-star-1"></i>
  </div>
  <div class="c-model-img-container img-placeholder loaded" data-was-processed="true">
    <img data-src="../../images/merek/toyota/calya.jpg" alt="Toyota Calya" class="loaded" src="https://source.unsplash.com/f_SDCASisgs/400x300"
      data-was-processed="true">

  </div>
  <header class="c-model-name">Toyota Calya</header>
  <main class="c-model-price">
    Rp135.4 - Rp152.95 Juta
  </main>
  <div class="c-model-attribute">
    <strong>Otomatis, Manual</strong>Transmisi
  </div>
  <div class="c-model-attribute">
    <strong>Bensin</strong>Bahan bakar
  </div>
  <div class="c-model-attribute no-border">
    <strong>1200 cc</strong>Mesin
  </div>
  <div class="c-model-availability">
    Tersedia di <strong>4</strong> varian dan <strong>6</strong> warna
  </div>
  <button class="btn btn-primary btn-block c-model-view-more-button">
    Lihat Detail
  </button>
  <button class="btn btn-outline-primary btn-block c-model-inquire-now-button" onclick="event.preventDefault()"
    data-name="Toyota Calya" data-price-min="135400000" data-price-range="">
    LIHAT PROMO
  </button>
</a>
<a href="../../merek/toyota/vios/" id="c-model-item-vios" class="c-model-item c-layer-card">
  <div class="c-model-rating">
    3.8<i class="icon-star-1"></i>
  </div>
  <div class="c-model-img-container img-placeholder loaded" data-was-processed="true">
    <img data-src="../../images/merek/toyota/vios.jpg" alt="Toyota Vios" class="loaded" src="https://source.unsplash.com/f_SDCASisgs/400x300"
      data-was-processed="true">

  </div>
  <header class="c-model-name">Toyota Vios</header>
  <main class="c-model-price">
    Rp276.2 - Rp327.6 Juta
  </main>
  <div class="c-model-attribute">
    <strong>Otomatis, Manual</strong>Transmisi
  </div>
  <div class="c-model-attribute">
    <strong>Bensin</strong>Bahan bakar
  </div>
  <div class="c-model-attribute no-border">
    <strong>1500 cc</strong>Mesin
  </div>
  <div class="c-model-availability">
    Tersedia di <strong>5</strong> varian dan <strong>6</strong> warna
  </div>
  <button class="btn btn-primary btn-block c-model-view-more-button">
    Lihat Detail
  </button>
  <button class="btn btn-outline-primary btn-block c-model-inquire-now-button" onclick="event.preventDefault()"
    data-name="Toyota Vios" data-price-min="276200000" data-price-range="">
    LIHAT PROMO
  </button>
</a>
<a href="../../merek/toyota/alphard/" id="c-model-item-alphard" class="c-model-item c-layer-card">
  <div class="c-model-rating">
    4.0<i class="icon-star-1"></i>
  </div>
  <div class="c-model-img-container img-placeholder loaded" data-was-processed="true">
    <img data-src="../../images/merek/toyota/alphard.jpg" alt="Toyota Alphard" class="loaded" src="https://source.unsplash.com/f_SDCASisgs/400x300"
      data-was-processed="true">

  </div>
  <header class="c-model-name">Toyota Alphard</header>
  <main class="c-model-price">
    Rp904.7 Jt - Rp1.723 Milyar
  </main>
  <div class="c-model-attribute">
    <strong>Otomatis</strong>Transmisi
  </div>
  <div class="c-model-attribute">
    <strong>Bensin</strong>Bahan bakar
  </div>
  <div class="c-model-attribute no-border">
    <strong>2500 cc, 3500 cc</strong>Mesin
  </div>
  <div class="c-model-availability">
    Tersedia di <strong>3</strong> varian dan <strong>4</strong> warna
  </div>
  <button class="btn btn-primary btn-block c-model-view-more-button">
    Lihat Detail
  </button>
  <button class="btn btn-outline-primary btn-block c-model-inquire-now-button" onclick="event.preventDefault()"
    data-name="Toyota Alphard" data-price-min="904700000" data-price-range="">
    LIHAT PROMO
  </button>
</a>
<a href="../../merek/toyota/camry/" id="c-model-item-camry" class="c-model-item c-layer-card">
  <div class="c-model-rating">
    4.7<i class="icon-star-1"></i>
  </div>
  <div class="c-model-img-container img-placeholder loaded" data-was-processed="true">
    <img data-src="../../images/merek/toyota/camry.jpg" alt="Toyota Camry" class="loaded" src="https://source.unsplash.com/f_SDCASisgs/400x300"
      data-was-processed="true">

  </div>
  <header class="c-model-name">Toyota Camry</header>
  <main class="c-model-price">
    Rp595 - Rp622.8 Juta
  </main>
  <div class="c-model-attribute">
    <strong>Otomatis</strong>Transmisi
  </div>
  <div class="c-model-attribute">
    <strong>Bensin</strong>Bahan bakar
  </div>
  <div class="c-model-attribute no-border">
    <strong>2500 cc</strong>Mesin
  </div>
  <div class="c-model-availability">
    Tersedia di <strong>2</strong> varian dan <strong>6</strong> warna
  </div>
  <button class="btn btn-primary btn-block c-model-view-more-button">
    Lihat Detail
  </button>
  <button class="btn btn-outline-primary btn-block c-model-inquire-now-button" onclick="event.preventDefault()"
    data-name="Toyota Camry" data-price-min="595000000" data-price-range="">
    LIHAT PROMO
  </button>
</a>
<a href="../../merek/toyota/corolla-altis/" id="c-model-item-corolla-altis" class="c-model-item c-layer-card">
  <div class="c-model-rating">
    3.8<i class="icon-star-1"></i>
  </div>
  <div class="c-model-img-container img-placeholder loaded" data-was-processed="true">
    <img data-src="../../images/merek/toyota/corolla-altis.jpg" alt="Toyota Corolla Altis" class="loaded" src="https://source.unsplash.com/f_SDCASisgs/400x300"
      data-was-processed="true">

  </div>
  <header class="c-model-name">Toyota Corolla Altis</header>
  <main class="c-model-price">
    Rp433.8 - Rp468.3 Juta
  </main>
  <div class="c-model-attribute">
    <strong>Otomatis, Manual</strong>Transmisi
  </div>
  <div class="c-model-attribute">
    <strong>Bensin</strong>Bahan bakar
  </div>
  <div class="c-model-attribute no-border">
    <strong>1800 cc</strong>Mesin
  </div>
  <div class="c-model-availability">
    Tersedia di <strong>2</strong> varian dan <strong>7</strong> warna
  </div>
  <button class="btn btn-primary btn-block c-model-view-more-button">
    Lihat Detail
  </button>
  <button class="btn btn-outline-primary btn-block c-model-inquire-now-button" onclick="event.preventDefault()"
    data-name="Toyota Corolla Altis" data-price-min="433800000" data-price-range="">
    LIHAT PROMO
  </button>
</a>
<a href="../../merek/toyota/sienta/" id="c-model-item-sienta" class="c-model-item c-layer-card">
  <div class="c-model-rating">
    3.8<i class="icon-star-1"></i>
  </div>
  <div class="c-model-img-container img-placeholder loaded" data-was-processed="true">
    <img data-src="../../images/merek/toyota/sienta.jpg" alt="Toyota Sienta" class="loaded" src="https://source.unsplash.com/f_SDCASisgs/400x300"
      data-was-processed="true">

  </div>
  <header class="c-model-name">Toyota Sienta</header>
  <main class="c-model-price">
    Rp234.1 - Rp299.9 Juta
  </main>
  <div class="c-model-attribute">
    <strong>Otomatis, Manual</strong>Transmisi
  </div>
  <div class="c-model-attribute">
    <strong>Bensin</strong>Bahan bakar
  </div>
  <div class="c-model-attribute no-border">
    <strong>1500 cc</strong>Mesin
  </div>
  <div class="c-model-availability">
    Tersedia di <strong>8</strong> varian dan <strong>7</strong> warna
  </div>
  <button class="btn btn-primary btn-block c-model-view-more-button">
    Lihat Detail
  </button>
  <button class="btn btn-outline-primary btn-block c-model-inquire-now-button" onclick="event.preventDefault()"
    data-name="Toyota Sienta" data-price-min="234100000" data-price-range="">
    LIHAT PROMO
  </button>
</a>
<a href="../../merek/toyota/land-cruiser/" id="c-model-item-land-cruiser" class="c-model-item c-layer-card">
  <div class="c-model-rating">
    4.7<i class="icon-star-1"></i>
  </div>
  <div class="c-model-img-container img-placeholder">
    <img data-src="../../images/merek/toyota/land-cruiser.jpg" alt="Toyota Land Cruiser" src="https://source.unsplash.com/f_SDCASisgs/400x300">
  </div>
  <header class="c-model-name">Toyota Land Cruiser</header>
  <main class="c-model-price">
    Rp1.976 - Rp2.313 Milyar
  </main>
  <div class="c-model-attribute">
    <strong>Otomatis</strong>Transmisi
  </div>
  <div class="c-model-attribute">
    <strong>Diesel, Bensin</strong>Bahan bakar
  </div>
  <div class="c-model-attribute no-border">
    <strong>4500 cc</strong>Mesin
  </div>
  <div class="c-model-availability">
    Tersedia di <strong>2</strong> varian dan <strong>6</strong> warna
  </div>
  <button class="btn btn-primary btn-block c-model-view-more-button">
    Lihat Detail
  </button>
  <button class="btn btn-outline-primary btn-block c-model-inquire-now-button" onclick="event.preventDefault()"
    data-name="Toyota Land Cruiser" data-price-min="1976000000" data-price-range="">
    LIHAT PROMO
  </button>
</a>
<a href="../../merek/toyota/chr/" id="c-model-item-chr" class="c-model-item c-layer-card">
  <div class="c-model-rating">
    4.0<i class="icon-star-1"></i>
  </div>
  <div class="c-model-img-container img-placeholder">
    <img data-src="../../images/merek/toyota/chr.jpg" alt="Toyota CHR" src="https://source.unsplash.com/f_SDCASisgs/400x300">

  </div>
  <header class="c-model-name">Toyota CHR</header>
  <main class="c-model-price">
    Rp488.5 - Rp490 Juta
  </main>
  <div class="c-model-attribute">
    <strong>Otomatis</strong>Transmisi
  </div>
  <div class="c-model-attribute">
    <strong>Bensin</strong>Bahan bakar
  </div>
  <div class="c-model-attribute no-border">
    <strong>1800 cc</strong>Mesin
  </div>
  <div class="c-model-availability">
    Tersedia di <strong>2</strong> varian dan <strong>5</strong> warna
  </div>
  <button class="btn btn-primary btn-block c-model-view-more-button">
    Lihat Detail
  </button>
  <button class="btn btn-outline-primary btn-block c-model-inquire-now-button" onclick="event.preventDefault()"
    data-name="Toyota CHR" data-price-min="488500000" data-price-range="">
    LIHAT PROMO
  </button>
</a>
<a href="../../merek/toyota/venturer/" id="c-model-item-venturer" class="c-model-item c-layer-card">
  <div class="c-model-rating">
    4.0<i class="icon-star-1"></i>
  </div>
  <div class="c-model-img-container img-placeholder">
    <img data-src="../../images/merek/toyota/venturer.jpg" alt="Toyota Venturer" src="https://source.unsplash.com/f_SDCASisgs/400x300" >

  </div>
  <header class="c-model-name">Toyota Venturer</header>
  <main class="c-model-price">
    Rp397.8 - Rp457.1 Juta
  </main>
  <div class="c-model-attribute">
    <strong>Otomatis, Manual</strong>Transmisi
  </div>
  <div class="c-model-attribute">
    <strong>Diesel, Bensin</strong>Bahan bakar
  </div>
  <div class="c-model-attribute no-border">
    <strong>2000 cc, 2400 cc</strong>Mesin
  </div>
  <div class="c-model-availability">
    Tersedia di <strong>4</strong> varian dan <strong>7</strong> warna
  </div>
  <button class="btn btn-primary btn-block c-model-view-more-button">
    Lihat Detail
  </button>
  <button class="btn btn-outline-primary btn-block c-model-inquire-now-button" onclick="event.preventDefault()"
    data-name="Toyota Venturer" data-price-min="397800000" data-price-range="">
    LIHAT PROMO
  </button>
</a>
<a href="../../merek/toyota/voxy/" id="c-model-item-voxy" class="c-model-item c-layer-card">
  <div class="c-model-rating">
    3.8<i class="icon-star-1"></i>
  </div>
  <div class="c-model-img-container img-placeholder">
    <img data-src="../../images/merek/toyota/voxy.jpg" alt="Toyota Voxy" src="https://source.unsplash.com/f_SDCASisgs/400x300">

  </div>
  <header class="c-model-name">Toyota Voxy</header>
  <main class="c-model-price">
    Rp452 Juta
  </main>
  <div class="c-model-attribute">
    <strong>Otomatis</strong>Transmisi
  </div>
  <div class="c-model-attribute">
    <strong>Bensin</strong>Bahan bakar
  </div>
  <div class="c-model-attribute no-border">
    <strong>2000 cc</strong>Mesin
  </div>
  <div class="c-model-availability">
    Tersedia di <strong>3</strong> warna
  </div>
  <button class="btn btn-primary btn-block c-model-view-more-button">
    Lihat Detail
  </button>
  <button class="btn btn-outline-primary btn-block c-model-inquire-now-button" onclick="event.preventDefault()"
    data-name="Toyota Voxy" data-price-min="452000000" data-price-range="">
    LIHAT PROMO
  </button>
</a>
<button class="c-model-show-more btn btn-block btn-link mb-2 d-md-none">TAMPILKAN LAINNYA</button>
